version: "3.9"

services:
  ${SERVICE_NAME}:
    image: ${IMAGE}
    container_name: ${CONTAINER_NAME}
    restart: ${RESTART_POLICY:-unless-stopped}

    # BEGIN_PORTS
    # - "${host_port}:${container_port}/${protocol}"
    # END_PORTS
    ports:
      []

    # BEGIN_ENV
    # ${name}: "${value}"
    # END_ENV
    environment: {}

    # BEGIN_VOLUMES
    # - ${host_path}:${container_path}:${mode}
    # END_VOLUMES
    volumes:
      - ./config:/config:rw
